<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <title>{% block title %}{% endblock title %}</title>#}
    <title>Time is Money, Friend - Welcome</title>
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">#}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/semantic-ui/semantic.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <script type="text/javascript" src="https://unpkg.com/jquery"></script>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="https://unpkg.com/vuex"></script>
    <script type="text/javascript" src="https://unpkg.com/vee-validate"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/semantic-ui/semantic.min.js') }}"></script>
</head>
<body>
<h2 id="title">Time is Money, Friend!</h2>
{% block body %}
{% endblock body %}

{% raw %}
<div id="app">
    <form class="ui form" @submit.prevent="submitSearch">
        <select id="server-select" class="ui search selection dropdown"
                v-model="selectedServer" tabindex="2">
            <option :value="null" selected disabled>Choose your Realm</option>
            <option class="server.region flag" v-for="server in realmList" :key="server.id" :value="server.slug">
                {{ server.name }} ({{ server.region }})<i class="server.region.toLowerCase() flag"></i>
            </option>
        </select>
        <input name="name" v-model="searchQuery" @keyup.enter="submitSearch" v-validate="'required'"
               :class="{'has-error': errors.has('name')}"
               placeholder='Search for anything (i.e. "Obliterum" or 124125)' tabindex="1" autofocus>
    </form>
</div>

{% endraw %}

{% block javascript %}
{% endblock javascript %}
<script>

{#    const store = new Vuex.Store({#}
{#        state: {#}
{#            count: 0,#}
{#            message: "Hello World",#}
{#        },#}
{#        mutations: {#}
{#            #}
{#        }#}
{#    });#}

    Vue.use(VeeValidate);

    Vue.component('item-form', {
        template: '#item-form',
    });

    const app = new Vue({
        el: '#app',
{#        store,#}
        components: {},
        computed: {},
        data: {
            itemId: null,
            selectedServer: null,
            searchQuery: null,
            realmList: [],
            forms: [],
        },
        created: function () {
            this.getServerList();
        },
        methods: {
            getServerList: function () {
                let vm = this;
                $.ajax({
                    url: '/api/realms',
                    type: 'get'
                }).always(function (response) {
                    const list = response['realms'];
                    for (let i = 0; i < list.length; i++) {
                        vm.realmList.push(list[i]);
                    }
                });
            },
            submitSearch: function () {
                let url = '/api/item';

                if (this.searchQuery) {
                    let is_number = Number.isInteger(Number.parseInt(this.searchQuery));
                    if (is_number) {
                        url += 's/' + this.searchQuery;
                    } else {
                        url += '/?name=' + this.searchQuery;
                    }

                    $.ajax({
                        url: url,
                        type: 'get'
                    }).done(function (response) {
                        if (is_number) {
                            console.log(response);
                        } else {
                            console.log(response.items);
                        }
                    });
                } else {
                    return
                }
            }
        }
    });

    $('#server-select').dropdown({
        allowTab: false,
        forceSelection: false,
    });

</script>
</body>
</html>