<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <title>{% block title %}{% endblock title %}</title>#}
    <title>Time is Money, Friend - Welcome</title>
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">#}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/semantic-ui/semantic.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <script type="text/javascript" src="https://unpkg.com/jquery"></script>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="https://unpkg.com/vuex"></script>
    <script type="text/javascript" src="https://unpkg.com/vee-validate"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/semantic-ui/semantic.min.js') }}"></script>
</head>
<body>
<h2 id="title">Time is Money, Friend!</h2>
{% block body %}
{% endblock body %}
{% raw %}
<div id="app">
    <form class="ui form" @submit.prevent="submitSearch">
        <div id="server-select" class="ui fluid search selection dropdown" tabindex="2">
            <input type="hidden" name="country" v-model="selectedServer">
            <i class="dropdown icon"></i>
            <div class="default text">Choose your Realm</div>
            <div class="menu">
                <div class="item" v-for="server in realmList" :data-value="server.slug" :value="server.slug">
                    <i :class="server.region.toLowerCase()+' flag'"></i>
                    {{ server.name }} ({{ server.region }})
                </div>
            </div>
        </div>
        <input name="name" v-model="searchQuery" @keyup.enter="submitSearch" v-validate="'required'"
               class="ui" :class="{'red': errors.has('name')}"
               placeholder='Search for anything (i.e. "Obliterum" or 124125)' tabindex="1" autofocus>
        <span v-show="errors.has('name')" class="ui red">{{ errors.first('name') }}</span>
    </form>
    <div class="ui middle aligned divided list">
        <div class="item" v-for="item in results">
            <div class="right floated content">
                <div class="ui icon mini button"><i class="plus icon"></i></div>
            </div>
            <!-- <img src="" alt="" class="ui image"> -->
            <div class="middle aligned content">
                <a :href="'http://www.wowhead.com/item='+item.id">{{ item.name_enus }}</a>
            </div>
        </div>
    </div>
</div>

{% endraw %}
</body>
{% block javascript %}
{% endblock javascript %}
<script type="text/javascript" src="//wow.zamimg.com/widgets/power.js"></script>
<script>var wowhead_tooltips = { "iconizelinks": true }</script>
<script>
    Vue.use(VeeValidate);

    const app = new Vue({
        el: '#app',
        components: {},
        computed: {},
        data: {
            itemId: null,
            selectedServer: null,
            searchQuery: null,
            realmList: [],
            results: [],
            searchHistory: [],
        },
        created: function () {
            this.getServerList();
        },
        updated: function () {
            $WowheadPower.refreshLinks();
        },
        methods: {
            getServerList: function () {
                let vm = this;
                $.ajax({
                    url: '/api/realms',
                    type: 'get'
                }).always(function (response) {
                    const list = response['realms'];
                    for (let i = 0; i < list.length; i++) {
                        vm.realmList.push(list[i]);
                    }
                });
            },
            submitSearch: function () {
                let url = '/api/item';
                let vm = this;
                vm.results = [];

                if (this.searchQuery) {
                    let is_number = Number.isInteger(Number.parseInt(this.searchQuery));
                    if (is_number) {
                        url += 's/' + this.searchQuery;
                    } else {
                        url += '/?name=' + this.searchQuery;
                    }

                    $.ajax({
                        url: url,
                        type: 'get'
                    }).done(function (response) {
                        if (is_number) {
                            vm.results.push(response);
                        } else {
                            for (let i of response.items)
                            vm.results.push(i)
                        }
                    });
                } else {
                    return
                }
            },
        },
        watch: {}
    });

    $('#server-select').dropdown({
        allowTab: false,
        forceSelection: false,
        duration: 100,
        onChange: function(text, value, $selectedItem) {
          app.$data.selectedServer = $selectedItem.data('value');
        }
    });

</script>
</html>